# Vodka Sales EDA

In [259]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
import sqlite3
from sqlite3 import Erro
import addfips
from numerize import numerize

In [3]:
# Load in CSV
liquor_df = pd.read_csv('Iowa_Liquor_Sales.csv', 
                        dtype={"Zip Code":str, "Item Number":str})

In [4]:
# Check shape
liquor_df.shape

(24396811, 24)

In [38]:
# Change date to datetime to filter dates
liquor_df['Date'] = pd.to_datetime(liquor_df['Date'])

In [58]:
# Get year and month columns
liquor_df['year'] = liquor_df['Date'].dt.strftime('%Y')
liquor_df['month'] = liquor_df['Date'].dt.strftime('%m')

In [59]:
# rename columns
cols = {
    'Invoice/Item Number': 'invoice_num',
    'Date': 'date', 
    'Store Number': 'store_num', 
    'Store Name': 'store_name', 
    'Address': 'address', 
    'City': 'city', 
    'Zip Code': 'zip_code',
    'County': 'county', 
    'Category': 'category', 
    'Category Name': 'category_name', 
    'Vendor Number': 'vendor_number', 
    'Vendor Name': 'vendor_name',
    'Item Number': 'item_num', 
    'Item Description': 'item_description', 
    'Pack': 'pack', 
    'Bottle Volume (ml)': 'bottle_volume',
    'State Bottle Cost': 'bottle_cost', 
    'State Bottle Retail': 'bottle_retail', 
    'Bottles Sold': 'bottles_sold',
    'Sale (Dollars)': 'sales_usd', 
    'Volume Sold (Liters)': 'sales_liters', 
    'Volume Sold (Gallons)': 'sales_gallons'
}

liquor_df = liquor_df.rename(columns = cols)

In [319]:
liquor_df.head(20)

,invoice_num,date,store_num,store_name,address,city,zip_code,county,category,category_name,...,pack,bottle_volume,bottle_cost,bottle_retail,bottles_sold,sales_usd,sales_liters,sales_gallons,year,month
0,S04043600015,2012-02-13,3932,Main Street Spirits / Mapleton,311 MAIN ST,MAPLETON,51034,Monona,1012100.0,CANADIAN WHISKIES,...,6,1750,8.92,13.38,6,80.28,10.50,2.77,2012,02
1,S12800300005,2013-06-14,4276,Wj's Liquor,107 N MILL ST,LAKE MILLS,50450,Winnebago,1062300.0,FLAVORED RUM,...,12,1000,10.00,14.99,12,179.88,12.00,3.17,2013,06
2,S17184100003,2014-02-03,3700,Avoca Liquor,158 SOUTH ELM,AVOCA,51521,Pottawattamie,1011300.0,TENNESSEE WHISKIES,...,12,1000,17.41,26.12,12,313.44,12.00,3.17,2014,02
3,S29002600016,2015-11-11,3894,Smokin' Joe's #6 Tobacco and Liquor,1404 1ST AVE NE,CEDAR RAPIDS,52402,Linn,1081600.0,WHISKEY LIQUEUR,...,24,375,4.78,7.17,4,28.68,1.50,0.40,2015,11
4,S25312900004,2015-04-28,3742,Wal-Mart 1625 / Lemars,1111 HOLTON DR,LEMARS,51031,Plymouth,1081600.0,WHISKEY LIQUEUR,...,12,750,9.85,14.78,12,177.36,9.00,2.38,2015,04
5,S10040300190,2013-01-15,2616,Hy-Vee Food and Drug / Clinton,901 SOUTH 4TH ST,CLINTON,52732,Clinton,1081340.0,ROOT BEER SCHNAPPS,...,12,750,6.30,9.45,3,28.35,2.25,0.59,2013,01
6,S26086200016,2015-06-09,4559,Osage Payless Foods,"633, CHASE ST",OSAGE,50461,Mitchell,1081330.0,PEACH SCHNAPPS,...,12,750,6.30,9.45,3,28.35,2.25,0.59,2015,06
7,S06200700032,2012-06-21,2568,Hy-Vee Food Store #4 / Cedar Rapids,1556 FIRST AVENUE NE,CEDAR RAPIDS,52402,Linn,1011100.0,BLENDED WHISKIES,...,12,750,3.35,5.02,24,120.48,18.00,4.76,2012,06
8,S28164600008,2015-09-29,4732,Walgreens #07967 / Clive,15601 HICKMAN RD,CLIVE,50325,Polk,1032200.0,IMPORTED VODKA - MISC,...,12,750,11.49,17.24,12,206.88,9.00,2.38,2015,09
9,S10306000026,2013-01-29,3962,Durant Street Country Stop,618 DURANT ST,HARLAN,51537,Shelby,1081390.0,IMPORTED SCHNAPPS,...,12,500,13.50,20.25,1,20.25,0.50,0.13,2013,01
10,S26589700062,2015-07-06,2549,Hy-Vee Food Store / Indianola,910 N JEFFERSON,INDIANOLA,50125,Warren,1031080.0,VODKA 80 PROOF,...,6,1750,7.17,10.76,6,64.56,10.50,2.77,2015,07
11,S12106600050,2013-05-08,2661,Hy-Vee Food Store / Sheldon,1989 PARK ST,SHELDON,51201,O'Brien,1081390.0,IMPORTED SCHNAPPS,...,12,750,8.66,12.99,6,77.94,4.50,1.19,2013,05
12,S24711500011,2015-03-25,2285,John's Grocery,401 EAST MARKET ST,IOWA CITY,52240,Johnson,1031200.0,VODKA FLAVORED,...,12,750,8.25,12.38,12,148.56,9.00,2.38,2015,03
13,S08806200018,2012-11-07,3779,"Station Wine and Spirits, T",2324 N 15TH ST,FORT DODGE,50501,Webster,1081200.0,CREAM LIQUEURS,...,12,750,5.55,10.57,2,21.14,1.50,0.40,2012,11
14,S26834500023,2015-07-20,2460,"Liquor Barn, Inc.",721 CENTRAL AVENUE WEST,HAMPTON,50441,Franklin,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,...,12,1000,4.34,6.51,12,78.12,12.00,3.17,2015,07
15,S25401400027,2015-04-30,2528,Hy-Vee Food Store #3 / Des Moines,3221 SE 14TH ST,DES MOINES,50315,Polk,1031080.0,VODKA 80 PROOF,...,24,375,3.50,5.25,24,126.00,9.00,2.38,2015,04
16,S19143000017,2014-05-23,4184,Fareway Stores #998 / Muscatine,2100 CEDAR PLAZA DR,MUSCATINE,52761,Muscatine,1011200.0,STRAIGHT BOURBON WHISKIES,...,12,750,12.99,19.49,3,58.47,2.25,0.59,2014,05
17,S21734000026,2014-10-13,2628,Hy-Vee Food Store / Eldora,1616 EDGINGTON,ELDORA,50627,Hardin,1051120.0,CHERRY BRANDIES,...,12,750,5.38,8.07,4,32.28,3.00,0.79,2014,10
18,S03714600040,2012-01-24,2465,Sid's Beverage Shop,2727 DODGE ST,DUBUQUE,52003,Dubuque,1031200.0,VODKA FLAVORED,...,12,1000,7.25,10.87,24,260.88,24.00,6.34,2012,01
19,S09099800008,2012-11-20,4102,Fareway Stores #386 / Ames,619 BURNETT AVE,AMES,50010,Story,1011200.0,STRAIGHT BOURBON WHISKIES,...,12,750,4.10,6.15,12,73.80,9.00,2.38,2012,11

In [ ]:
# Drop columns 'Store Location' & 'County Number'
# Contains many nulls, inaccurate county numbers
liquor_df.drop(['Store Location', 'County Number'], axis=1, inplace=True)

In [63]:
# save csv of entire liquor df
liquor_df.to_csv('cleaned_liquor.csv')

In [65]:
# Filter for 2021 entries only
liquor_2021 = liquor_df[
    (liquor_df['date'] > '2020-12-31') &
    (liquor_df['date'] < '2022-01-01')]

In [66]:
# Check shape
liquor_2021.shape

(2622712, 24)

In [67]:
liquor_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622712 entries, 7896340 to 14415478
Data columns (total 24 columns):
 #   Column            Dtype
---  ------            -----
 0   invoice_num       object
 1   date              datetime64[ns]
 2   store_num         int64
 3   store_name        object
 4   address           object
 5   city              object
 6   zip_code          object
 7   county            object
 8   category          float64
 9   category_name     object
 10  vendor_number     float64
 11  vendor_name       object
 12  item_num          object
 13  item_description  object
 14  pack              int64
 15  bottle_volume     int64
 16  bottle_cost       float64
 17  bottle_retail     float64
 18  bottles_sold      int64
 19  sales_usd         float64
 20  sales_liters      float64
 21  sales_gallons     float64
 22  year              object
 23  month             object
dtypes: datetime64[ns](1), float64(7), int64(4), object(12)
memory usage: 500.2+ MB

In [68]:
# Check for null values
liquor_2021.isnull().sum(axis=0)

invoice_num           0
date                  0
store_num             0
store_name            0
address             142
city                142
zip_code            142
county              142
category              0
category_name         0
vendor_number         4
vendor_name           4
item_num              0
item_description      0
pack                  0
bottle_volume         0
bottle_cost           0
bottle_retail         0
bottles_sold          0
sales_usd             0
sales_liters          0
sales_gallons         0
year                  0
month                 0
dtype: int64

In [69]:
# drop null values 
liquor_2021 = liquor_2021.dropna()

In [71]:
# save liquor_2021 to csv
liquor_2021.to_csv('liquor21.csv')

In [72]:
# filter on vodka only
vodka_2021 = liquor_2021[liquor_2021['category_name'].str.contains("Vodka")]

In [73]:
vodka_2021.shape

(625923, 24)

### Add County FIPS numbers to DF

In [76]:
# Add state column for getting FIPS
vodka_2021['state'] = 'Iowa'

/var/folders/d4/4s9thvnx41xgd5z9q39vv23h0000gn/T/ipykernel_4624/140086370.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vodka_2021['state'] = 'Iowa'

In [77]:
fips = pd.DataFrame(vodka_2021.groupby(['state', 'county'])
                    .size().reset_index().iloc[:,[0,1]])

In [79]:
af = addfips.AddFIPS()
for index, row in fips.iterrows():
    fips.at[index, 'FIPS']=af.get_county_fips(fips.at[index,'county'],fips.at[index,'state'])

In [80]:
vodka_2021 = fips.merge(vodka_2021, how='inner', on=['county', 'state'])

In [81]:
vodka_2021.shape

(625923, 26)

In [83]:
vodka_2021.sample(10)

,state,county,FIPS,invoice_num,date,store_num,store_name,address,city,zip_code,...,pack,bottle_volume,bottle_cost,bottle_retail,bottles_sold,sales_usd,sales_liters,sales_gallons,year,month
150007,Iowa,DUBUQUE,19061,INV-40387700066,2021-09-24,2524,Hy-Vee Food Store / Dubuque,3500 Dodge St,Dubuque,52001,...,24,375,4.75,7.13,6,42.78,2.25,0.59,2021,09
547510,Iowa,SIOUX,19167,INV-37125600028,2021-06-02,4256,Fareway Stores #912 / Sioux Center,115 1st Ave NW,Sioux Center,51250,...,6,1750,11.50,17.25,2,34.50,3.50,0.92,2021,06
432342,Iowa,POLK,19153,INV-38000800159,2021-07-02,2532,Hy-Vee Food Store #2 / Des Moines,2540 E Euclid,Des Moines,50317,...,12,750,16.49,24.74,1,24.74,0.75,0.19,2021,07
326387,Iowa,MONTGOMERY,19137,INV-33695400023,2021-01-22,2518,Hy-Vee Wine and Spirits / Red Oak,1607 North Broadway,Red Oak,51566,...,12,375,2.80,4.20,12,50.40,4.50,1.18,2021,01
35448,Iowa,BLACK HAWK,19013,INV-38921900004,2021-08-04,5504,Neighborhood Mart,2102 Lafayette St,Waterloo,50703,...,24,375,1.80,2.70,48,129.60,18.00,4.75,2021,08
271190,Iowa,LINN,19113,INV-36647300456,2021-05-14,6158,Hawks Smoke Shop / Marion,1396 7th Ave,Marion,52302,...,24,200,2.99,4.49,10,44.90,2.00,0.52,2021,05
358537,Iowa,POLK,19153,INV-33175100069,2021-01-04,2619,Hy-Vee Wine and Spirits / WDM,1725 74th St,West Des Moines,50266,...,6,1000,22.75,34.13,6,204.78,6.00,1.58,2021,01
542570,Iowa,SCOTT,19163,INV-41117800001,2021-10-19,3731,Wal-Mart 1241 / Davenport,5811 Elmore Ave,Davenport,52807,...,12,50,7.47,11.21,12,134.52,0.60,0.15,2021,10
437696,Iowa,POLK,19153,INV-38394200025,2021-07-16,5145,South Side Food Mart,1101 Army Post Rd,Des Moines,50315,...,12,750,3.27,4.91,12,58.92,9.00,2.37,2021,07
281611,Iowa,LINN,19113,INV-38451500002,2021-07-19,3773,Benz Distributing,501 7th Ave SE,Cedar Rapids,52401,...,6,750,15.00,22.50,3,67.50,2.25,0.59,2021,07

In [87]:
def get_profit(row):
    profit = (row['bottle_retail'] - row['bottle_cost']) * row['bottles_sold']
    return profit

In [88]:
vodka_2021['profit'] = vodka_2021.apply(lambda row: get_profit(row), axis=1)

In [89]:
vodka_2021.head()

,state,county,FIPS,invoice_num,date,store_num,store_name,address,city,zip_code,...,bottle_volume,bottle_cost,bottle_retail,bottles_sold,sales_usd,sales_liters,sales_gallons,year,month,profit
0,Iowa,ADAIR,19001,INV-41696100021,2021-11-05,4317,Fareway Stores #941 / Greenfield,212 SW Kent,Greenfield,50849,...,750,8.25,12.38,2,24.76,1.50,0.39,2021,11,8.26
1,Iowa,ADAIR,19001,INV-41696500002,2021-11-05,4654,KUM & GO #510 / STUART,629 S Division St,Stuart,50250,...,750,8.25,12.38,12,148.56,9.00,2.37,2021,11,49.56
2,Iowa,ADAIR,19001,INV-41696700005,2021-11-05,4753,Casey's General Store #2521 / Adair,110 S 5th St,Adair,50002,...,750,10.00,15.00,6,90.00,4.50,1.18,2021,11,30.00
3,Iowa,ADAIR,19001,INV-41696700010,2021-11-05,4753,Casey's General Store #2521 / Adair,110 S 5th St,Adair,50002,...,1750,7.20,10.80,3,32.40,5.25,1.38,2021,11,10.80
4,Iowa,ADAIR,19001,INV-41696500017,2021-11-05,4654,KUM & GO #510 / STUART,629 S Division St,Stuart,50250,...,375,4.75,7.13,12,85.56,4.50,1.18,2021,11,28.56

In [108]:
# Open population csv of Iowa counties
pop_df = pd.read_csv('County_Population_in_Iowa_by_Year.csv')

In [109]:
pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FIPS           3069 non-null   int64
 1   County         3069 non-null   object
 2   Year           3069 non-null   object
 3   Population     3069 non-null   int64
 4   Primary Point  3069 non-null   object
dtypes: int64(2), object(3)
memory usage: 120.0+ KB

In [112]:
pop_df.head()

,FIPS,County,Year,Population,Primary Point
0,19169,Story County,2011,91136,POINT (-93.4650448 42.0362415)
1,19065,Fayette County,1995,22129,POINT (-91.8443207 42.8625919)
2,19089,Howard County,2002,9794,POINT (-92.3171989 43.3567673)
3,19007,Appanoose County,1999,13761,POINT (-92.8686104 40.7431635)
4,19043,Clayton County,2012,17946,POINT (-91.34143280000002 42.8447493)

In [111]:
# change year to datetime, include only year
pop_df['Year'] = pd.to_datetime(pop_df['Year']).dt.strftime('%Y')

In [113]:
# filter for 2020 only
pop20_df = pop_df[pop_df['Year'] == '2020']

In [115]:
pop20_df.shape

(99, 5)

In [116]:
pop20_df = pop20_df.drop(['County', 'Year', 'Primary Point'], axis=1)

In [117]:
pop20_df.head()

      FIPS  Population
5    19103      152854
34   19167       35872
39   19077       10623
118  19013      131144
153  19141       14182

In [ ]:
vodka_2021 = fips.merge(vodka_2021, how='inner', on=['county', 'state'])

In [119]:
vodka_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 625923 entries, 0 to 625922
Data columns (total 27 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   state             625923 non-null  object
 1   county            625923 non-null  object
 2   FIPS              592078 non-null  object
 3   invoice_num       625923 non-null  object
 4   date              625923 non-null  datetime64[ns]
 5   store_num         625923 non-null  int64
 6   store_name        625923 non-null  object
 7   address           625923 non-null  object
 8   city              625923 non-null  object
 9   zip_code          625923 non-null  object
 10  category          625923 non-null  float64
 11  category_name     625923 non-null  object
 12  vendor_number     625923 non-null  float64
 13  vendor_name       625923 non-null  object
 14  item_num          625923 non-null  object
 15  item_description  625923 non-null  object
 16  pack              625923 non-null  int64
 17  bottle_volume     625923 non-null  int64
 18  bottle_cost       625923 non-null  float64
 19  bottle_retail     625923 non-null  float64
 20  bottles_sold      625923 non-null  int64
 21  sales_usd         625923 non-null  float64
 22  sales_liters      625923 non-null  float64
 23  sales_gallons     625923 non-null  float64
 24  year              625923 non-null  object
 25  month             625923 non-null  object
 26  profit            625923 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(14)
memory usage: 133.7+ MB

In [155]:
vodka_2021['county'] = vodka_2021['county'].str.upper()

/var/folders/d4/4s9thvnx41xgd5z9q39vv23h0000gn/T/ipykernel_4624/3657758426.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vodka_2021['county'] = vodka_2021['county'].str.upper()

In [124]:
# drop nulls
vodka_2021 = vodka_2021.dropna()

In [126]:
# change data type
vodka_2021['FIPS'] = vodka_2021['FIPS'].astype('int')

/var/folders/d4/4s9thvnx41xgd5z9q39vv23h0000gn/T/ipykernel_4624/3068699101.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vodka_2021['FIPS'] = vodka_2021['FIPS'].astype('int')

In [160]:
# merge population and vodka_2021 dfs
vodka21 = vodka_2021.merge(pop20_df, how='inner', on=['FIPS'])

In [161]:
# rename columns
vodka21 = vodka21.rename(columns={'FIPS':'fips', 'Population':'population'})

In [306]:
vodka21.rename(columns={'sales_usd':"Sales(USD)", 'sales_liters':"Sales(Liters)"}, inplace=True)

In [ ]:
vodka21.to_csv('vodka21.csv')

### SQLite & SQL Alchemy

In [163]:
# Connect to database
engine = create_engine("sqlite://", echo=False)
conn = engine.connect()

In [164]:
# convert df to sql table
vodka21.to_sql('vodka21', con=engine, if_exists='replace')

592078

In [186]:
(vodka21.sales_usd.sum()) / (vodka21.population.sum())

0.0008142391874831957

## Questions to Answer
1. Total sales in USD (State & County)
2. Sales-(USD)/Capita (State & County)
3. Total Profit (State & County)
4. Monthly Sales (State & County)
5. Top Selling Products (State & County)

### Total Sales in USD (State & County)

In [260]:
# Total sales state level
sql = '''

SELECT ROUND(SUM(sales_usd), 2)
FROM vodka21;


'''

In [278]:
conn = engine.connect()
result = conn.execute(sql)

In [279]:
conn.close()

In [280]:
sales_state_21 = result.fetchone()

In [281]:
sales_state_21[0]

86983158.87

In [282]:
sales_state_21 = numerize.numerize(sales_state_21[0])

In [283]:
sales_state_21

'86.98M'

In [286]:
total_sales_21 = numerize.numerize(vodka21['sales_usd'].sum(), 2)
total_sales_21

'86.98M'

In [165]:
# Total sales county level
sql = '''

SELECT county, ROUND(SUM(sales_usd), 2) AS sales
FROM vodka21
GROUP BY county
ORDER BY sales DESC
LIMIT 10
;


'''

county_sales_usd = pd.read_sql_query(sql, con=engine)
county_sales_usd

       county        sales
0        POLK  22733515.76
1        LINN   8254919.17
2       SCOTT   6495739.71
3     JOHNSON   5817968.99
4  BLACK HAWK   4583848.45
5       STORY   2997763.82
6      DALLAS   2832064.79
7     DUBUQUE   2823098.65
8    WOODBURY   2634062.95
9     CLINTON   1554654.29

### Sales Per Capita (USD)

In [179]:
# Sales per capita - state level
sql = '''

SELECT 
ROUND((SUM(sales_usd)) / (SUM(population)), 8) AS per_capita_sales
FROM vodka21;


'''

with engine.connect() as conn:
    result = conn.execute(sql)
    for row in result:
        print(row)

(0.00081424,)

In [295]:
# using pandas
st_pop = vodka21['population'].unique().sum()

3032752

In [184]:
# Sales per capita - county level
sql = '''

SELECT 
    county,
    sales_usd,
    population,
    ROUND((SUM(sales_usd)) / (SUM(population)), 8) AS per_capita_sales
FROM vodka21
GROUP BY county
ORDER BY per_capita_sales DESC
LIMIT 10
;


'''

county_per_capita = pd.read_sql_query(sql, con=engine)
county_per_capita

       county  sales_usd  population  per_capita_sales
0    RINGGOLD     113.40        4663          0.033721
1       ADAMS      69.60        3704          0.021199
2      MONROE     132.78        7577          0.017599
3    HUMBOLDT      77.28        9597          0.016611
4  MONTGOMERY       7.05       10330          0.016238
5      GREENE      67.26        8771          0.015463
6       WORTH     124.56        7443          0.014590
7      SHELBY     148.56       11746          0.013791
8      HOWARD      10.76        9469          0.013429
9  POCAHONTAS      60.72        7078          0.013022

### Total Profit

In [190]:
# Total Profit - state level
sql = '''

SELECT 
ROUND(SUM(profit), 2)
FROM vodka21;


'''

with engine.connect() as conn:
    result = conn.execute(sql)
    for row in result:
        print(row)

(28995001.47,)

In [189]:
# Total profit - county level
sql = '''

SELECT 
    county,
    ROUND(SUM(profit), 2) AS profit
FROM vodka21
GROUP BY county
ORDER BY profit DESC
LIMIT 10
;


'''

county_profit = pd.read_sql_query(sql, con=engine)
county_profit

       county      profit
0        POLK  7577185.01
1        LINN  2751992.25
2       SCOTT  2166203.29
3     JOHNSON  1938244.52
4  BLACK HAWK  1528001.97
5       STORY   999205.11
6      DALLAS   943010.60
7     DUBUQUE   941237.52
8    WOODBURY   877937.45
9     CLINTON   518101.12

### Monthly Sales 2021 - State & County Levels

In [191]:
# State level
sql = '''

SELECT 
    month,
    ROUND(SUM(sales_usd), 2) AS sales_usd,
    ROUND(SUM(sales_liters), 2) AS sales_volume
FROM vodka21
GROUP BY month
ORDER BY month;


'''
monthly_state_sales = pd.read_sql_query(sql, con=engine)
monthly_state_sales

   month   sales_usd  sales_volume
0     01  5693369.84     487234.48
1     02  5854849.61     500096.43
2     03  7085477.26     585848.94
3     04  7033660.62     560584.89
4     05  6973453.95     560950.72
5     06  8618971.82     679958.56
6     07  7578144.25     609090.08
7     08  8653153.55     691645.15
8     09  7150694.45     587762.51
9     10  7041954.81     563232.87
10    11  8043348.64     637755.16
11    12  7256080.07     585962.95

In [196]:
# State level
sql = '''

SELECT 
    county,
    month,
    ROUND(SUM(sales_usd), 2) AS sales_usd,
    ROUND(SUM(sales_liters), 2) AS sales_volume
FROM vodka21
GROUP BY month, county
ORDER BY county;


'''
monthly_county_sales = pd.read_sql_query(sql, con=engine)

In [197]:
monthly_county_sales.head(20)

   county month  sales_usd  sales_volume
0   ADAIR    01   10076.14        834.00
1   ADAIR    02    8378.51        751.50
2   ADAIR    03    7651.43        687.22
3   ADAIR    04    8429.04        765.52
4   ADAIR    05    8047.58        664.37
5   ADAIR    06    9398.73        788.75
6   ADAIR    07   10135.87        805.44
7   ADAIR    08    7702.94        710.85
8   ADAIR    09    9330.01        769.20
9   ADAIR    10    9716.07        847.85
10  ADAIR    11    8627.88        720.80
11  ADAIR    12   12368.71       1019.34
12  ADAMS    01    2621.35        248.60
13  ADAMS    02    2080.64        185.50
14  ADAMS    03    2048.01        188.10
15  ADAMS    04    3788.23        315.80
16  ADAMS    05    3995.51        336.10
17  ADAMS    06    3173.37        244.00
18  ADAMS    07    3690.86        313.35
19  ADAMS    08    3253.11        263.80

### Top Selling Products - State & County Level

In [206]:
# Top selling products state level
sql = '''

SELECT 
    item_num,
    item_description AS item,
    ROUND(SUM(sales_usd), 2) AS sales_usd
FROM vodka21
GROUP BY item_num
ORDER BY sales_usd DESC
LIMIT 10;

'''

top_products_st = pd.read_sql_query(sql, con=engine)
top_products_st

  item_num                               item    sales_usd
0    38178               Titos Handmade Vodka  10091964.00
1    38177               Titos Handmade Vodka   7382457.46
2    38176               Titos Handmade Vodka   5535465.00
3    36308                      Hawkeye Vodka   2444338.44
4    38008                 Smirnoff 80prf PET   1725940.83
5    34821                       Svedka 80prf   1699348.20
6    34006        Absolut Swedish Vodka 80prf   1570322.42
7    38088                  Platinum 7x Vodka   1315379.04
8   936600  Kirkland Signature American Vodka   1222577.28
9    34433                         Grey Goose   1162470.96

In [207]:
# Need to do a CTE or Rank 
# Top selling products county level
sql = '''


    FROM vodka21
    GROUP BY county, item_num;

SELECT
    county,
    item_num,
    item_description AS item,
    ROUND(SUM(sales_usd), 2) AS sales_usd
FROM (
    SELECT 
)



SELECT 
    county,
    item_num,
    item_description AS item,
    ROUND(SUM(sales_usd), 2) AS sales_usd
FROM vodka21
GROUP BY county, item_num
ORDER BY sales_usd DESC
LIMIT 10;

'''

top_products_co = pd.read_sql_query(sql, con=engine)
top_products_co

    county item_num                               item   sales_usd
0     POLK    38177               Titos Handmade Vodka  2278367.51
1     POLK    38178               Titos Handmade Vodka  2255433.00
2     POLK    38176               Titos Handmade Vodka  1406550.00
3     LINN    38178               Titos Handmade Vodka   877030.50
4     LINN    38177               Titos Handmade Vodka   827182.13
5    SCOTT    38178               Titos Handmade Vodka   742225.50
6   DALLAS   936600  Kirkland Signature American Vodka   624724.38
7  JOHNSON    38178               Titos Handmade Vodka   596590.50
8   DALLAS    38178               Titos Handmade Vodka   581001.00
9     POLK    34821                       Svedka 80prf   545683.20

In [257]:
# most populated counties
sql = '''

SELECT 
    county,
    population
FROM vodka21
GROUP BY county
ORDER BY population DESC
LIMIT 10;

'''

population_df = pd.read_sql_query(sql, con=engine)
population_df

       county  population
0        POLK      492401
1        LINN      230299
2       SCOTT      174669
3     JOHNSON      152854
4  BLACK HAWK      131144
5    WOODBURY      105941
6      DALLAS       99678
7     DUBUQUE       99266
8       STORY       98537
9      WARREN       52403

In [309]:
linn_df = vodka21[vodka21['county']=='LINN']

In [315]:
linn_df.columns

Index(['state', 'county', 'fips', 'invoice_num', 'date', 'store_num',
       'store_name', 'address', 'city', 'zip_code', 'category',
       'category_name', 'vendor_number', 'vendor_name', 'item_num',
       'item_description', 'pack', 'bottle_volume', 'bottle_cost',
       'bottle_retail', 'bottles_sold', 'Sales(USD)', 'Sales(Liters)',
       'sales_gallons', 'year', 'month', 'profit', 'population'],
      dtype='object')

In [318]:
linn_df.groupby('item_description')['Sales(USD)'].sum().sort_values(ascending=False).reset_index()[:5]

              item_description  Sales(USD)
0         Titos Handmade Vodka  2385642.85
1                Hawkeye Vodka   363789.74
2  Absolut Swedish Vodka 80prf   348138.75
3            Platinum 7x Vodka   310448.24
4               Smirnoff 80prf   288130.59

## Charts

In [208]:
import plotly.express as px
import numpy as np

In [217]:
# Bar chart of Polk County Monthly Sales
polk_sales_mo = monthly_county_sales[monthly_county_sales['county']=='POLK']
polk_sales_mo

    county month   sales_usd  sales_volume
888   POLK    01  1365378.82     106508.12
889   POLK    02  1507303.60     118071.36
890   POLK    03  1838418.68     137314.40
891   POLK    04  2078776.40     148364.06
892   POLK    05  1795947.92     132374.91
893   POLK    06  2086464.42     149937.84
894   POLK    07  2138724.78     157022.68
895   POLK    08  2215790.58     161464.09
896   POLK    09  1904737.74     146289.00
897   POLK    10  2047083.97     144597.22
898   POLK    11  1813662.54     133637.04
899   POLK    12  1941226.31     144433.08

In [246]:
fig = px.bar(polk_sales_mo, x = 'month', y = 'sales_usd')

fig.update_layout(
    title={
        'text': 'Polk County 2021 Monthly Vodka Sales-(USD)',
        'y': 0.95,
        'x': 0.5,
        'xanchor': 'center',
        'yanchor': 'top'},
    hoverlabel=dict(
        bgcolor='rgb(8,48,107)',
        font_size=12,
        font_family='Rockwell'
    )
)


fig.update_traces(marker_color='rgb(158,202,225)', marker_line_color='rgb(8,48,107)',
                  marker_line_width=1.5, opacity=0.6)

fig.update_xaxes(
    tickangle=45,
    title_text = 'Month',
    title_standoff = 25, 
    title_font = {'size': 16},
    ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
              'Oct', 'Nov', 'Dec'],
    tickvals = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

)

fig.update_yaxes(
    title_text = 'Sales (USD)',
    title_standoff = 25,
    title_font = {'size':16}
)


fig.show()

In [299]:
dff = vodka21.copy()
dff = dff.groupby(['county', 'month'])['sales_usd'].sum().reset_index()

In [300]:
dff.head()

  county month  sales_usd
0  ADAIR    01   10076.14
1  ADAIR    02    8378.51
2  ADAIR    03    7651.43
3  ADAIR    04    8429.04
4  ADAIR    05    8047.58

In [250]:
# Filter for Polk and Linn Counties
polk_linn_sales_mo = monthly_county_sales[(monthly_county_sales['county']=='POLK') |
                                     (monthly_county_sales['county']== 'LINN')]

In [252]:
fig = px.line(polk_linn_sales_mo, x = 'month', y = 'sales_usd', color='county')

# fig.update_layout(
#     title={
#         'text': 'Polk County 2021 Monthly Vodka Sales-(USD)',
#         'y': 0.95,
#         'x': 0.5,
#         'xanchor': 'center',
#         'yanchor': 'top'},
#     hoverlabel=dict(
#         bgcolor='rgb(8,48,107)',
#         font_size=12,
#         font_family='Rockwell'
#     )
# )


# fig.update_traces(marker_color='rgb(158,202,225)', marker_line_color='rgb(8,48,107)',
#                   marker_line_width=1.5, opacity=0.6)

# fig.update_xaxes(
#     tickangle=45,
#     title_text = 'Month',
#     title_standoff = 25, 
#     title_font = {'size': 16},
#     ticktext=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
#               'Oct', 'Nov', 'Dec'],
#     tickvals = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

# )

# fig.update_yaxes(
#     title_text = 'Sales (USD)',
#     title_standoff = 25,
#     title_font = {'size':16}
# )


fig.show()